In [1]:
import pandas as pd
import fastai

df = pd.read_csv('..\\data\\election_results\\1976-2020-senate.csv', 
                 skiprows=lambda x: 1<=x<=3048, # to start the year 2000 because party politics weird before then
                 # omit data after 2012 because don't have CF scores after that 
                 #skipfooter= 768, # last 2012 row is row2861, there are 3629 rows so need to skip the bottom 768 rows
                 encoding='latin1')

In [2]:
df

,year,state,state_po,state_fips,state_cen,state_ic,office,district,stage,special,candidate,party_detailed,writein,mode,candidatevotes,totalvotes,unofficial,version,party_simplified
0,2016,ALABAMA,AL,1,63,41,US SENATE,statewide,gen,False,RON CRUMPTON,DEMOCRAT,False,total,748709,2087444,False,20210114,DEMOCRAT
1,2016,ALABAMA,AL,1,63,41,US SENATE,statewide,gen,False,RICHARD C. SHELBY,REPUBLICAN,False,total,1335104,2087444,False,20210114,REPUBLICAN
2,2016,ALABAMA,AL,1,63,41,US SENATE,statewide,gen,False,NaN,NaN,True,total,3631,2087444,False,20210114,OTHER
3,2016,ALASKA,AK,2,94,81,US SENATE,statewide,gen,False,JOE MILLER,LIBERTARIAN,False,total,90825,311441,False,20210114,LIBERTARIAN
4,2016,ALASKA,AK,2,94,81,US SENATE,statewide,gen,False,TED GIANOUTSOS,INDEPENDENT,False,total,1758,311441,False,20210114,OTHER
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
576,2020,WYOMING,WY,56,83,68,US SENATE,statewide,gen,False,UNDER VOTES,NaN,False,total,6401,278503,False,20210114,OTHER
577,2021,GEORGIA,GA,13,58,44,US SENATE,statewide,runoff,True,KELLY LOEFFLER,REPUBLICAN,False,total,2194848,4483294,True,20210114,REPUBLICAN
578,2021,GEORGIA,GA,13,58,44,US SENATE,statewide,runoff,True,RAPHAEL WARNOCK,DEMOCRAT,False,total,2288446,4483294,True,20210114,DEMOCRAT
579,2021,GEORGIA,GA,13,58,44,US SENATE,statewide,runoff,False,DAVID A. PERDUE,REPUBLICAN,False,total,2213979,4483241,True,20210114,REPUBLICAN
580,2021,GEORGIA,GA,13,58,44,US SENATE,statewide,runoff,False,JON OSSOFF,DEMOCRAT,False,total,2269262,4483241,True,20210114,DEMOCRAT

In [2]:
df = df[(df.special==False) & (df.writein==False) & (df.unofficial==False)]
df
df = df.loc[:,['year','state_po','candidate','candidatevotes','party_simplified','state']]
df
df = df[(df.party_simplified=='REPUBLICAN') | (df.party_simplified=='DEMOCRAT')]
df.head(10)

to_del = []
i = 0
while i<=df.shape[0]-3: # gives indexOB error when I try to go to the end. Works for now because I know (manually) that last one that needs to be deleted is within this range
    start = i # temp variable so we can get length of block later
    count = 0
    curr_state = df.iloc[i].state_po
    #from IPython.core.debugger import Pdb; Pdb().set_trace()
    while df.iloc[i].state_po==curr_state:
        count+=1
        i+=1
    if count == 2:
        pass#i+=1 # move onto next state
    else:
        print(start)
        to_del.extend(range(start,i)) # utilize non-inclusive upper bound because at this point, 
                                      # the next state has already been moved onto by incrementing i 
                                      # in the inner while loop above
        #i+=1 # AGH this is wrong cause if length less than 2, already moved onto next state
to_del
#df

# because .drop() uses an iterable of index LABELS, must do:
to_drop = [df.index[i] for i in to_del]
to_drop

elections = df.drop(to_drop)
elections

32
136
149
166

,year,state_po,candidate,candidatevotes,party_simplified,state
0,2016,AL,RON CRUMPTON,748709,DEMOCRAT,ALABAMA
1,2016,AL,RICHARD C. SHELBY,1335104,REPUBLICAN,ALABAMA
5,2016,AK,RAY METCALFE,36200,DEMOCRAT,ALASKA
8,2016,AK,LISA MURKOWSKI,138149,REPUBLICAN,ALASKA
11,2016,AZ,ANN KIRKPATRICK,1031245,DEMOCRAT,ARIZONA
...,...,...,...,...,...,...
562,2020,TX,"MARY ""MJ"" HEGAR",4888764,DEMOCRAT,TEXAS
566,2020,VA,MARK R. WARNER,2466500,DEMOCRAT,VIRGINIA
567,2020,VA,DANIEL M. GADE,1934199,REPUBLICAN,VIRGINIA
569,2020,WV,SHELLEY MOORE CAPITO,547454,REPUBLICAN,WEST VIRGINIA
570,2020,WV,PAULA JEAN SWEARENGIN,210309,DEMOCRAT,WEST VIRGINIA

In [3]:
elections.insert(3,'Dem_candidate',[None for x in range(elections.shape[0])])
elections.insert(4,'Repub_candidate',[None for x in range(elections.shape[0])])
elections.insert(5,'Dem_votes',[None for x in range(elections.shape[0])])
elections.insert(6,'Repub_votes',[None for x in range(elections.shape[0])])

In [4]:
i = 1 # because going to look at previous one
while i<=elections.shape[0]:
    if elections.iloc[i,8]=='DEMOCRAT': # party_simplified
        elections.iloc[i,3]=elections.iloc[i,2] # Dem_candidate, candidate
        elections.iloc[i,4]=elections.iloc[i-1,2] # Repub_candidate, candidate
        elections.iloc[i,5]=elections.iloc[i,7] # Dem_votes, candidatevotes
        elections.iloc[i,6]=elections.iloc[i-1,7] # Repub_votes, candidatevotes
    elif elections.iloc[i,8]=='REPUBLICAN':
        elections.iloc[i,3]=elections.iloc[i-1,2] # Dem_candidate, candidate
        elections.iloc[i,4]=elections.iloc[i,2] # Repub_candidate, candidate
        elections.iloc[i,5]=elections.iloc[i-1,7] # Dem_votes, candidatevotes
        elections.iloc[i,6]=elections.iloc[i,7] # Repub_votes, candidatevotes
    i+=2

In [5]:
elections = elections.iloc[1::2]

In [6]:
elections.insert(8,'Repub%of_two-party_vote', elections.Repub_votes/(elections.Dem_votes+elections.Repub_votes))
elections = elections.drop(['candidate','Dem_votes','Repub_votes','candidatevotes','party_simplified'], axis=1) # dropping in-place now is causing errors later

In [7]:
elections

,year,state_po,Dem_candidate,Repub_candidate,Repub%of_two-party_vote,state
1,2016,AL,RON CRUMPTON,RICHARD C. SHELBY,0.640702,ALABAMA
8,2016,AK,RAY METCALFE,LISA MURKOWSKI,0.79237,ALASKA
17,2016,AZ,ANN KIRKPATRICK,JOHN MCCAIN,0.568609,ARIZONA
23,2016,AR,CONNER ELDRIDGE,JOHN BOOZMAN,0.622993,ARKANSAS
26,2016,CA,KAMALA D. HARRIS,LORETTA SANCHEZ,0.383972,CALIFORNIA
...,...,...,...,...,...,...
545,2020,SC,JAIME HARRISON,LINDSEY GRAHAM,0.552079,SOUTH CAROLINA
550,2020,TN,MARQUITA BRADSHAW,BILL HAGERTY,0.638852,TENNESSEE
562,2020,TX,"MARY ""MJ"" HEGAR",JOHN CORNYN,0.549495,TEXAS
567,2020,VA,MARK R. WARNER,DANIEL M. GADE,0.439521,VIRGINIA
570,2020,WV,PAULA JEAN SWEARENGIN,SHELLEY MOORE CAPITO,0.722461,WEST VIRGINIA

<font size = 6>adding CF score equivalents</font>

CF scores are not available for candidates after 2012, so I will use the relationship between DW Nominate and CF Scores to calculate and approximate CF scores for incumbents (since having a DW Nominate score requires having a voting record) and use fast.ai's FillMissing for nonincumbents or names that otherwise can't find an associated score. FillMissing assigns the average value of that column, so a Republican who does not have a DW Nominate score will be treated as an ideologically average Republican. Thus, while there will be many missing values, I expect that will be okay.

In [9]:
# what 'Mapping the Ideological Marketplace' says about CF-DW Nominate relationship: 
# it looks like, from the graphs, cf score ~ dw nom * 2

In [10]:
# building dataset of DW nom scores
dws = pd.read_csv('..\\data\\candidate_ideology\\S116_members.csv') # for 2020 (2019-2021 congress session)

In [11]:
dws

,congress,chamber,icpsr,state_icpsr,district_code,state_abbrev,party_code,occupancy,last_means,bioname,...,died,nominate_dim1,nominate_dim2,nominate_log_likelihood,nominate_geo_mean_probability,nominate_number_of_votes,nominate_number_of_errors,conditional,nokken_poole_dim1,nokken_poole_dim2
0,116,President,99912,99,0.0,USA,200,0.0,0.0,"TRUMP, Donald John",...,NaN,0.403,0.162,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,116,Senate,41705,41,0.0,AL,100,NaN,NaN,"JONES, Gordon Douglas (Doug)",...,NaN,-0.088,0.187,-80.32594,0.88065,632.0,33.0,NaN,-0.081,0.234
2,116,Senate,94659,41,0.0,AL,200,NaN,NaN,"SHELBY, Richard C.",...,NaN,0.448,0.575,-46.01121,0.93295,663.0,27.0,NaN,0.437,0.219
3,116,Senate,40300,81,0.0,AK,200,NaN,NaN,"MURKOWSKI, Lisa",...,NaN,0.210,-0.302,-47.61779,0.92641,623.0,11.0,NaN,0.283,-0.424
4,116,Senate,41500,81,0.0,AK,200,NaN,NaN,"SULLIVAN, Daniel Scott",...,NaN,0.480,0.063,-53.40271,0.92101,649.0,25.0,NaN,0.510,-0.040
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,116,Senate,40915,56,0.0,WV,100,NaN,NaN,"MANCHIN, Joe, III",...,NaN,-0.058,0.420,-70.59255,0.89783,655.0,19.0,NaN,-0.052,0.388
99,116,Senate,29940,25,0.0,WI,100,NaN,NaN,"BALDWIN, Tammy",...,NaN,-0.493,-0.136,-132.31357,0.81982,666.0,65.0,NaN,-0.396,-0.001
100,116,Senate,41111,25,0.0,WI,200,NaN,NaN,"JOHNSON, Ron",...,NaN,0.617,-0.182,-46.18103,0.93070,643.0,24.0,NaN,0.610,0.017
101,116,Senate,40707,68,0.0,WY,200,NaN,NaN,"BARRASSO, John A.",...,NaN,0.536,0.210,-31.02986,0.95461,668.0,15.0,NaN,0.602,0.323
102,116,Senate,49706,68,0.0,WY,200,NaN,NaN,"ENZI, Michael B.",...,2021.0,0.545,0.199,-42.60100,0.93551,639.0,16.0,NaN,0.587,0.414

In [13]:
dws = dws.loc[:,['congress','bioname','nominate_dim1']]

In [14]:
dws2018 = pd.read_csv('..\\data\\candidate_ideology\\S115_members.csv')
dws2018 = dws2018.loc[:,['congress','bioname','nominate_dim1']]
dws2018

     congress                                    bioname  nominate_dim1
0         115                         TRUMP, Donald John          0.403
1         115              STRANGE, Luther  Johnson, III          0.560
2         115               JONES, Gordon Douglas (Doug)         -0.088
3         115  SESSIONS, Jefferson Beauregard III (Jeff)          0.549
4         115                         SHELBY, Richard C.          0.448
..        ...                                        ...            ...
101       115                          MANCHIN, Joe, III         -0.058
102       115                             BALDWIN, Tammy         -0.493
103       115                               JOHNSON, Ron          0.617
104       115                          BARRASSO, John A.          0.536
105       115                           ENZI, Michael B.          0.545

[106 rows x 3 columns]

In [15]:
dws2016 = pd.read_csv('..\\data\\candidate_ideology\\S114_members.csv')
dws2016 = dws2016.loc[:,['congress','bioname','nominate_dim1']]
dws2016

     congress                                    bioname  nominate_dim1
0         114                              OBAMA, Barack         -0.358
1         114  SESSIONS, Jefferson Beauregard III (Jeff)          0.549
2         114                         SHELBY, Richard C.          0.448
3         114                            MURKOWSKI, Lisa          0.210
4         114                     SULLIVAN, Daniel Scott          0.480
..        ...                                        ...            ...
96        114                          MANCHIN, Joe, III         -0.058
97        114                             BALDWIN, Tammy         -0.493
98        114                               JOHNSON, Ron          0.617
99        114                          BARRASSO, John A.          0.536
100       114                           ENZI, Michael B.          0.545

[101 rows x 3 columns]

In [16]:
dfs = [dws2016,dws2018,dws]
ideologies = pd.concat(dfs)
ideologies

     congress                                    bioname  nominate_dim1
0         114                              OBAMA, Barack         -0.358
1         114  SESSIONS, Jefferson Beauregard III (Jeff)          0.549
2         114                         SHELBY, Richard C.          0.448
3         114                            MURKOWSKI, Lisa          0.210
4         114                     SULLIVAN, Daniel Scott          0.480
..        ...                                        ...            ...
98        116                          MANCHIN, Joe, III         -0.058
99        116                             BALDWIN, Tammy         -0.493
100       116                               JOHNSON, Ron          0.617
101       116                          BARRASSO, John A.          0.536
102       116                           ENZI, Michael B.          0.545

[310 rows x 3 columns]

In [17]:
d = {114:2016, 115:2018, 116: 2020} 
ideologies['congress'].map(d)
ideologies

     congress                                    bioname  nominate_dim1
0         114                              OBAMA, Barack         -0.358
1         114  SESSIONS, Jefferson Beauregard III (Jeff)          0.549
2         114                         SHELBY, Richard C.          0.448
3         114                            MURKOWSKI, Lisa          0.210
4         114                     SULLIVAN, Daniel Scott          0.480
..        ...                                        ...            ...
98        116                          MANCHIN, Joe, III         -0.058
99        116                             BALDWIN, Tammy         -0.493
100       116                               JOHNSON, Ron          0.617
101       116                          BARRASSO, John A.          0.536
102       116                           ENZI, Michael B.          0.545

[310 rows x 3 columns]

In [18]:
ideologies.insert(0, 'year', ideologies['congress'].map(d))
ideologies.drop('congress',axis=1, inplace=True)

In [19]:
ideologies

     year                                    bioname  nominate_dim1
0    2016                              OBAMA, Barack         -0.358
1    2016  SESSIONS, Jefferson Beauregard III (Jeff)          0.549
2    2016                         SHELBY, Richard C.          0.448
3    2016                            MURKOWSKI, Lisa          0.210
4    2016                     SULLIVAN, Daniel Scott          0.480
..    ...                                        ...            ...
98   2020                          MANCHIN, Joe, III         -0.058
99   2020                             BALDWIN, Tammy         -0.493
100  2020                               JOHNSON, Ron          0.617
101  2020                          BARRASSO, John A.          0.536
102  2020                           ENZI, Michael B.          0.545

[310 rows x 3 columns]

In [20]:
def dw_to_cf(x): 
    return 2*x

ideologies['approx_cf_score'] = ideologies['nominate_dim1'].map(dw_to_cf)

In [21]:
ideologies.drop('nominate_dim1', axis=1, inplace=True)

In [22]:
elections

,year,state_po,Dem_candidate,Repub_candidate,Repub%of_two-party_vote,state
1,2016,AL,RON CRUMPTON,RICHARD C. SHELBY,0.640702,ALABAMA
8,2016,AK,RAY METCALFE,LISA MURKOWSKI,0.79237,ALASKA
17,2016,AZ,ANN KIRKPATRICK,JOHN MCCAIN,0.568609,ARIZONA
23,2016,AR,CONNER ELDRIDGE,JOHN BOOZMAN,0.622993,ARKANSAS
26,2016,CA,KAMALA D. HARRIS,LORETTA SANCHEZ,0.383972,CALIFORNIA
...,...,...,...,...,...,...
545,2020,SC,JAIME HARRISON,LINDSEY GRAHAM,0.552079,SOUTH CAROLINA
550,2020,TN,MARQUITA BRADSHAW,BILL HAGERTY,0.638852,TENNESSEE
562,2020,TX,"MARY ""MJ"" HEGAR",JOHN CORNYN,0.549495,TEXAS
567,2020,VA,MARK R. WARNER,DANIEL M. GADE,0.439521,VIRGINIA
570,2020,WV,PAULA JEAN SWEARENGIN,SHELLEY MOORE CAPITO,0.722461,WEST VIRGINIA

In [23]:
def extract_last_name(name: str) -> str:
    splt = name.split(' ')
    if splt[-1] in ['III','IV','JR','JR.','SR','SR.']:
        final = splt[-2].replace(',', '') # in case comma after last name before JR./III
        return final
    else:
        return splt[-1]

In [26]:
def find_approxcfscore(name,year):
    last_name = extract_last_name(name)
    matches = ideologies[(ideologies.bioname.str.contains(last_name,regex=True))]
    if len(matches)>=1:
        return matches.iloc[0,2]
    else:
        return None

In [27]:
ideologies['bioname'] = ideologies['bioname'].str.upper()

In [28]:
elections['Dem_cfscore'] = elections.apply(lambda x: find_approxcfscore(x.Dem_candidate, x.year), axis=1)
elections['Repub_cfscore'] = elections.apply(lambda x: find_approxcfscore(x.Repub_candidate,x.year), axis=1)

<font size = 6> adding PVIs</font>

In [29]:
pvis2016 = pd.read_csv('..\\data\\state_partisan_lean\\Cook Political Report PVI Scores, Before and After 2012 Election - States.csv')

In [30]:
pvis2016

,"Sources: Polidata, Cook Political Report, U.S. Census Bureau",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,NaN,NaN,NaN,NaN,NaN
1,State,Electoral Votes,2012 PVI,2016 PVI,Dem Shift
2,Alabama,9,R+13,R+14,-0.76
3,Alaska,3,R+13,R+12,1.35
4,Arizona,11,R+6,R+7,-1.27
5,Arkansas,6,R+9,R+14,-5.21
6,California,55,D+7,D+9,1.81
7,Colorado,9,EVEN,D+1,0.95
8,Connecticut,7,D+7,D+7,0.15
9,Delaware,3,D+7,D+8,1.2
10,District of Columbia,3,D+41,D+40,-0.57
11,Florida,29,R+2,R+2,-0.12
12,Georgia,16,R+7,R+6,0.6
13,Hawaii,4,D+12,D+20,7.05
14,Idaho,4,R+17,R+18,-0.15
15,Illinois,20,D+8,D+8,0.08
16,Indiana,11,R+6,R+5,1.01
17,Iowa,6,D+1,D+1,0.04
18,Kansas,6,R+11,R+12,-0.73
19,Kentucky,8,R+10,R+13,-2.37
20,Louisiana,8,R+10,R+12,-2.31
21,Maine,4,D+5,D+6,0.04
22,Maryland,10,D+9,D+10,1.78
23,Massachusetts,11,D+12,D+10,-2.08
24,Michigan,16,D+4,D+4,-0.06
25,Minnesota,10,D+2,D+2,-0.51
26,Mississippi,6,R+10,R+9,0.46
27,Missouri,10,R+3,R+5,-2.18
28,Montana,3,R+7,R+7,0.13
29,Nebraska,5,R+13,R+12,1.26
30,Nevada,6,D+1,D+2,0.76
31,New Hampshire,4,D+2,D+1,-0.53
32,New Jersey,14,D+4,D+6,1.21
33,New Mexico,5,D+2,D+4,1.25
34,New York,29,D+10,D+11,0.89
35,North Carolina,15,R+4,R+3,1
36,North Dakota,3,R+10,R+10,0.3
37,Ohio,18,R+1,R+1,-0.31
38,Oklahoma,7,R+17,R+19,-2.2
39,Oregon,7,D+4,D+5,0.48
40,Pennsylvania,20,D+2,D+1,-0.87
41,Rhode Island,4,D+11,D+11,0.12
42,South Carolina,9,R+8,R+8,0.06
43,South Dakota,3,R+9,R+10,-0.75
44,Tennessee,11,R+9,R+12,-3.19
45,Texas,38,R+10,R+10,0.15
46,Utah,6,R+20,R+22,-2.24
47,Vermont,3,D+13,D+16,2.37
48,Virginia,13,R+2,EVEN,1.45
49,Washington,12,D+5,D+5,0.39
50,West Virginia,5,R+8,R+13,-5.2
51,Wisconsin,10,D+2,D+2,0.06
52,Wyoming,3,R+20,R+22,-2.03

In [31]:
pvis2016.drop(columns={'Unnamed: 1','Unnamed: 2','Unnamed: 4'}, inplace=True)

In [32]:
pvis2016.columns=pvis2016.iloc[1]
pvis2016=pvis2016.iloc[2:]
pvis2016

1                  State 2016 PVI
2                Alabama     R+14
3                 Alaska     R+12
4                Arizona      R+7
5               Arkansas     R+14
6             California      D+9
7               Colorado      D+1
8            Connecticut      D+7
9               Delaware      D+8
10  District of Columbia     D+40
11               Florida      R+2
12               Georgia      R+6
13                Hawaii     D+20
14                 Idaho     R+18
15              Illinois      D+8
16               Indiana      R+5
17                  Iowa      D+1
18                Kansas     R+12
19              Kentucky     R+13
20             Louisiana     R+12
21                 Maine      D+6
22              Maryland     D+10
23         Massachusetts     D+10
24              Michigan      D+4
25             Minnesota      D+2
26           Mississippi      R+9
27              Missouri      R+5
28               Montana      R+7
29              Nebraska     R+12
30                Nevada      D+2
31         New Hampshire      D+1
32            New Jersey      D+6
33            New Mexico      D+4
34              New York     D+11
35        North Carolina      R+3
36          North Dakota     R+10
37                  Ohio      R+1
38              Oklahoma     R+19
39                Oregon      D+5
40          Pennsylvania      D+1
41          Rhode Island     D+11
42        South Carolina      R+8
43          South Dakota     R+10
44             Tennessee     R+12
45                 Texas     R+10
46                  Utah     R+22
47               Vermont     D+16
48              Virginia     EVEN
49            Washington      D+5
50         West Virginia     R+13
51             Wisconsin      D+2
52               Wyoming     R+22

In [35]:
def signed_pvi(x):
    s = str(x)
    splt = s.split('+')
    if splt[0]=='R':
        return splt[1]
    elif splt[0]=='EVEN':
        return 0
    else:
        return -1*int(splt[1])

In [36]:
pvis2016['signed_pvi'] = pvis2016['2016 PVI'].apply(signed_pvi)

C:\Users\bbdil\AppData\Local\Temp\ipykernel_27864\1339752428.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pvis2016['signed_pvi'] = pvis2016['2016 PVI'].apply(signed_pvi)

In [37]:
pvis2016['State'] = pvis2016['State'].str.upper()
pvis2016

C:\Users\bbdil\AppData\Local\Temp\ipykernel_27864\224562334.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pvis2016['State'] = pvis2016['State'].str.upper()

1                  State 2016 PVI signed_pvi
2                ALABAMA     R+14         14
3                 ALASKA     R+12         12
4                ARIZONA      R+7          7
5               ARKANSAS     R+14         14
6             CALIFORNIA      D+9         -9
7               COLORADO      D+1         -1
8            CONNECTICUT      D+7         -7
9               DELAWARE      D+8         -8
10  DISTRICT OF COLUMBIA     D+40        -40
11               FLORIDA      R+2          2
12               GEORGIA      R+6          6
13                HAWAII     D+20        -20
14                 IDAHO     R+18         18
15              ILLINOIS      D+8         -8
16               INDIANA      R+5          5
17                  IOWA      D+1         -1
18                KANSAS     R+12         12
19              KENTUCKY     R+13         13
20             LOUISIANA     R+12         12
21                 MAINE      D+6         -6
22              MARYLAND     D+10        -10
23         MASSACHUSETTS     D+10        -10
24              MICHIGAN      D+4         -4
25             MINNESOTA      D+2         -2
26           MISSISSIPPI      R+9          9
27              MISSOURI      R+5          5
28               MONTANA      R+7          7
29              NEBRASKA     R+12         12
30                NEVADA      D+2         -2
31         NEW HAMPSHIRE      D+1         -1
32            NEW JERSEY      D+6         -6
33            NEW MEXICO      D+4         -4
34              NEW YORK     D+11        -11
35        NORTH CAROLINA      R+3          3
36          NORTH DAKOTA     R+10         10
37                  OHIO      R+1          1
38              OKLAHOMA     R+19         19
39                OREGON      D+5         -5
40          PENNSYLVANIA      D+1         -1
41          RHODE ISLAND     D+11        -11
42        SOUTH CAROLINA      R+8          8
43          SOUTH DAKOTA     R+10         10
44             TENNESSEE     R+12         12
45                 TEXAS     R+10         10
46                  UTAH     R+22         22
47               VERMONT     D+16        -16
48              VIRGINIA     EVEN          0
49            WASHINGTON      D+5         -5
50         WEST VIRGINIA     R+13         13
51             WISCONSIN      D+2         -2
52               WYOMING     R+22         22

In [47]:
pvis2016.index = pvis2016.State

In [48]:
pvis2016

1                                    State 2016 PVI signed_pvi
State
ALABAMA                            ALABAMA     R+14         14
ALASKA                              ALASKA     R+12         12
ARIZONA                            ARIZONA      R+7          7
ARKANSAS                          ARKANSAS     R+14         14
CALIFORNIA                      CALIFORNIA      D+9         -9
COLORADO                          COLORADO      D+1         -1
CONNECTICUT                    CONNECTICUT      D+7         -7
DELAWARE                          DELAWARE      D+8         -8
DISTRICT OF COLUMBIA  DISTRICT OF COLUMBIA     D+40        -40
FLORIDA                            FLORIDA      R+2          2
GEORGIA                            GEORGIA      R+6          6
HAWAII                              HAWAII     D+20        -20
IDAHO                                IDAHO     R+18         18
ILLINOIS                          ILLINOIS      D+8         -8
INDIANA                            INDIANA      R+5          5
IOWA                                  IOWA      D+1         -1
KANSAS                              KANSAS     R+12         12
KENTUCKY                          KENTUCKY     R+13         13
LOUISIANA                        LOUISIANA     R+12         12
MAINE                                MAINE      D+6         -6
MARYLAND                          MARYLAND     D+10        -10
MASSACHUSETTS                MASSACHUSETTS     D+10        -10
MICHIGAN                          MICHIGAN      D+4         -4
MINNESOTA                        MINNESOTA      D+2         -2
MISSISSIPPI                    MISSISSIPPI      R+9          9
MISSOURI                          MISSOURI      R+5          5
MONTANA                            MONTANA      R+7          7
NEBRASKA                          NEBRASKA     R+12         12
NEVADA                              NEVADA      D+2         -2
NEW HAMPSHIRE                NEW HAMPSHIRE      D+1         -1
NEW JERSEY                      NEW JERSEY      D+6         -6
NEW MEXICO                      NEW MEXICO      D+4         -4
NEW YORK                          NEW YORK     D+11        -11
NORTH CAROLINA              NORTH CAROLINA      R+3          3
NORTH DAKOTA                  NORTH DAKOTA     R+10         10
OHIO                                  OHIO      R+1          1
OKLAHOMA                          OKLAHOMA     R+19         19
OREGON                              OREGON      D+5         -5
PENNSYLVANIA                  PENNSYLVANIA      D+1         -1
RHODE ISLAND                  RHODE ISLAND     D+11        -11
SOUTH CAROLINA              SOUTH CAROLINA      R+8          8
SOUTH DAKOTA                  SOUTH DAKOTA     R+10         10
TENNESSEE                        TENNESSEE     R+12         12
TEXAS                                TEXAS     R+10         10
UTAH                                  UTAH     R+22         22
VERMONT                            VERMONT     D+16        -16
VIRGINIA                          VIRGINIA     EVEN          0
WASHINGTON                      WASHINGTON      D+5         -5
WEST VIRGINIA                WEST VIRGINIA     R+13         13
WISCONSIN                        WISCONSIN      D+2         -2
WYOMING                            WYOMING     R+22         22

In [43]:
# don't need 2018 because in training set i did pvi every 4 years
pvis2020 = pd.read_csv('..\\data\\state_partisan_lean\\fivethirtyeight_partisan_lean_2020STATES.csv')

In [44]:
pvis2020

             state  2020
0          Alabama  R+27
1           Alaska  R+16
2          Arizona   R+8
3         Arkansas  R+26
4       California  D+22
5         Colorado   R+0
6      Connecticut  D+10
7         Delaware  D+12
8          Florida   R+6
9          Georgia  R+13
10          Hawaii  D+36
11           Idaho  R+33
12        Illinois  D+13
13         Indiana  R+17
14            Iowa   R+9
15          Kansas  R+21
16        Kentucky  R+24
17       Louisiana  R+19
18           Maine   D+3
19        Maryland  D+23
20   Massachusetts  D+23
21        Michigan   D+6
22       Minnesota   D+1
23     Mississippi  R+15
24        Missouri  R+21
25         Montana  R+18
26        Nebraska  R+25
27          Nevada   R+1
28   New Hampshire   R+1
29      New Jersey  D+11
30      New Mexico   D+8
31        New York  D+22
32  North Carolina   R+4
33    North Dakota  R+34
34            Ohio   R+6
35        Oklahoma  R+33
36          Oregon   D+7
37    Pennsylvania   R+1
38    Rhode Island  D+24
39  South Carolina  R+16
40    South Dakota  R+28
41       Tennessee  R+28
42           Texas  R+17
43            Utah  R+30
44         Vermont  D+24
45        Virginia   D+7
46      Washington  D+15
47   West Virginia  R+33
48       Wisconsin   R+3
49         Wyoming  R+45

In [45]:
pvis2020['signed pvi'] = pvis2020['2020'].apply(signed_pvi)
pvis2020['state'] = pvis2020['state'].str.upper()

In [49]:
pvis2020.index = pvis2020.state

In [50]:
pvis2020

                         state  2020 signed pvi
state
ALABAMA                ALABAMA  R+27         27
ALASKA                  ALASKA  R+16         16
ARIZONA                ARIZONA   R+8          8
ARKANSAS              ARKANSAS  R+26         26
CALIFORNIA          CALIFORNIA  D+22        -22
COLORADO              COLORADO   R+0          0
CONNECTICUT        CONNECTICUT  D+10        -10
DELAWARE              DELAWARE  D+12        -12
FLORIDA                FLORIDA   R+6          6
GEORGIA                GEORGIA  R+13         13
HAWAII                  HAWAII  D+36        -36
IDAHO                    IDAHO  R+33         33
ILLINOIS              ILLINOIS  D+13        -13
INDIANA                INDIANA  R+17         17
IOWA                      IOWA   R+9          9
KANSAS                  KANSAS  R+21         21
KENTUCKY              KENTUCKY  R+24         24
LOUISIANA            LOUISIANA  R+19         19
MAINE                    MAINE   D+3         -3
MARYLAND              MARYLAND  D+23        -23
MASSACHUSETTS    MASSACHUSETTS  D+23        -23
MICHIGAN              MICHIGAN   D+6         -6
MINNESOTA            MINNESOTA   D+1         -1
MISSISSIPPI        MISSISSIPPI  R+15         15
MISSOURI              MISSOURI  R+21         21
MONTANA                MONTANA  R+18         18
NEBRASKA              NEBRASKA  R+25         25
NEVADA                  NEVADA   R+1          1
NEW HAMPSHIRE    NEW HAMPSHIRE   R+1          1
NEW JERSEY          NEW JERSEY  D+11        -11
NEW MEXICO          NEW MEXICO   D+8         -8
NEW YORK              NEW YORK  D+22        -22
NORTH CAROLINA  NORTH CAROLINA   R+4          4
NORTH DAKOTA      NORTH DAKOTA  R+34         34
OHIO                      OHIO   R+6          6
OKLAHOMA              OKLAHOMA  R+33         33
OREGON                  OREGON   D+7         -7
PENNSYLVANIA      PENNSYLVANIA   R+1          1
RHODE ISLAND      RHODE ISLAND  D+24        -24
SOUTH CAROLINA  SOUTH CAROLINA  R+16         16
SOUTH DAKOTA      SOUTH DAKOTA  R+28         28
TENNESSEE            TENNESSEE  R+28         28
TEXAS                    TEXAS  R+17         17
UTAH                      UTAH  R+30         30
VERMONT                VERMONT  D+24        -24
VIRGINIA              VIRGINIA   D+7         -7
WASHINGTON          WASHINGTON  D+15        -15
WEST VIRGINIA    WEST VIRGINIA  R+33         33
WISCONSIN            WISCONSIN   R+3          3
WYOMING                WYOMING  R+45         45

Here is where information from these datasets gets added to my Test Set

In [51]:
def get_pvi(state,year):
    if year%4!=0: # pvis are only calculated once every 4 years, but i have midterm elections in my data set
        year-=2 # use pvi for most recent presidential election year
    if year==2016:
        return pvis2016.loc[state,'signed_pvi']
    elif year==2020:
        return pvis2020.loc[state, 'signed pvi'] # notice one has an underscore and one doesn't

In [52]:
elections['state enviro'] = elections.apply(lambda x: get_pvi(x.state,x.year), axis=1)

In [53]:
elections

,year,state_po,Dem_candidate,Repub_candidate,Repub%of_two-party_vote,state,Dem_cfscore,Repub_cfscore,state enviro
1,2016,AL,RON CRUMPTON,RICHARD C. SHELBY,0.640702,ALABAMA,NaN,0.896,14
8,2016,AK,RAY METCALFE,LISA MURKOWSKI,0.79237,ALASKA,NaN,0.420,12
17,2016,AZ,ANN KIRKPATRICK,JOHN MCCAIN,0.568609,ARIZONA,NaN,0.762,7
23,2016,AR,CONNER ELDRIDGE,JOHN BOOZMAN,0.622993,ARKANSAS,NaN,0.852,14
26,2016,CA,KAMALA D. HARRIS,LORETTA SANCHEZ,0.383972,CALIFORNIA,-1.418,NaN,-9
...,...,...,...,...,...,...,...,...,...
545,2020,SC,JAIME HARRISON,LINDSEY GRAHAM,0.552079,SOUTH CAROLINA,NaN,0.758,16
550,2020,TN,MARQUITA BRADSHAW,BILL HAGERTY,0.638852,TENNESSEE,NaN,NaN,28
562,2020,TX,"MARY ""MJ"" HEGAR",JOHN CORNYN,0.549495,TEXAS,NaN,0.948,17
567,2020,VA,MARK R. WARNER,DANIEL M. GADE,0.439521,VIRGINIA,-0.408,NaN,-7
570,2020,WV,PAULA JEAN SWEARENGIN,SHELLEY MOORE CAPITO,0.722461,WEST VIRGINIA,NaN,0.548,33

<font size = 6> Adding natl enviro and economy</font>

In [55]:
# set this up to allow for adding each state's unemployment later
info_dict = {
    2016: {'natl enviro': 1.1, # this is actual house pop vote margin, not polls. From wikipedia
           'inflation': 1.26,
           'natl unemploy': 4.87,
          },
    2018: {'natl enviro': -8.6, 
           'inflation': 2.44,
           'natl unemploy': 3.90,
          },
    2020: {'natl enviro': -3.1,
           'inflation': 1.23,
           'natl unemploy': 8.05,
          }
}

In [58]:
elections['Natl_enviro'] = elections.apply(lambda x: info_dict[x.year]['natl enviro'], axis=1)
elections['Inflation'] = elections.apply(lambda x: info_dict[x.year]['inflation'], axis=1)
elections['Natl_unempl'] = elections.apply(lambda x: info_dict[x.year]['natl unemploy'], axis=1)

In [59]:
elections

,year,state_po,Dem_candidate,Repub_candidate,Repub%of_two-party_vote,state,Dem_cfscore,Repub_cfscore,state enviro,Natl_enviro,Inflation,Natl_unempl
1,2016,AL,RON CRUMPTON,RICHARD C. SHELBY,0.640702,ALABAMA,NaN,0.896,14,1.1,1.26,4.87
8,2016,AK,RAY METCALFE,LISA MURKOWSKI,0.79237,ALASKA,NaN,0.420,12,1.1,1.26,4.87
17,2016,AZ,ANN KIRKPATRICK,JOHN MCCAIN,0.568609,ARIZONA,NaN,0.762,7,1.1,1.26,4.87
23,2016,AR,CONNER ELDRIDGE,JOHN BOOZMAN,0.622993,ARKANSAS,NaN,0.852,14,1.1,1.26,4.87
26,2016,CA,KAMALA D. HARRIS,LORETTA SANCHEZ,0.383972,CALIFORNIA,-1.418,NaN,-9,1.1,1.26,4.87
...,...,...,...,...,...,...,...,...,...,...,...,...
545,2020,SC,JAIME HARRISON,LINDSEY GRAHAM,0.552079,SOUTH CAROLINA,NaN,0.758,16,-3.1,1.23,8.05
550,2020,TN,MARQUITA BRADSHAW,BILL HAGERTY,0.638852,TENNESSEE,NaN,NaN,28,-3.1,1.23,8.05
562,2020,TX,"MARY ""MJ"" HEGAR",JOHN CORNYN,0.549495,TEXAS,NaN,0.948,17,-3.1,1.23,8.05
567,2020,VA,MARK R. WARNER,DANIEL M. GADE,0.439521,VIRGINIA,-0.408,NaN,-7,-3.1,1.23,8.05
570,2020,WV,PAULA JEAN SWEARENGIN,SHELLEY MOORE CAPITO,0.722461,WEST VIRGINIA,NaN,0.548,33,-3.1,1.23,8.05

In [47]:
# Saving the dataset to csv so can load in other notebooks
elections.to_csv('..\\prepared_data\\test_set_v1.csv',index=False)